apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: microservices
  labels:
    app: api-gateway
    project: cloud-design
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
        version: v1
    spec:
      containers:
      - name: api-gateway
        image: 711893265334.dkr.ecr.eu-north-1.amazonaws.com/cloud-design/dev/api-gateway:v1.0.3
        imagePullPolicy: Always
        command: ["python", "-u", "server.py"]  # ← ДОБАВЛЕНО
        ports:
        - containerPort: 3000
          name: http
          protocol: TCP
        
        # Environment variables from ConfigMap
        envFrom:
        - configMapRef:
            name: api-gateway-config
        
        # Resource limits (УВЕЛИЧЕНЫ)
        resources:
          requests:
            memory: "256Mi"  # ← Было 128Mi
            cpu: "100m"
          limits:
            memory: "512Mi"  # ← Было 256Mi
            cpu: "500m"      #